/*=================Root/Globals=================*/

:root {
	--vw-pink: rgb(255,113,206);
	--vw-blue: rgb(1,205,254);
	--vw-green: rgb(5,255,161);
	--vw-purple: rgb(185,103,255);
	--vw-yellow: rgb(255,251,150);
}

body {
	font-family: 'Fira Mono', monospace;
	color: var(--white);
	background-color: var(--vw-purple);
	background-image: linear-gradient(15deg, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.7) 100%);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

h1 {
	font-family: 'Great Vibes', cursive;
}

a:not(.btn) {
	color: var(--vw-purple);
}

a:not(.btn):hover {
	color: var(--vw-pink);
}

/*================Navbar Styling================*/

.navbar-brand {
	position: relative;
	z-index: 1;
}

.navbar-brand__header {
	font-size: 4rem;
	color: var(--vw-pink);
	text-shadow: 1px 1px 0px var(--vw-blue);
}

.icon--navbar {
	fill: var(--vw-blue);
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.navbar-brand:hover .navbar-brand__header {
	color: var(--vw-purple);
}

.navbar-brand:hover .icon--navbar {
	fill: var(--vw-purple);
}

/*=====================Hero=====================*/

.home-hero {
	height: 70vh;
	position: relative;
}

.hero-title h1 {
	font-size: 10rem;
	transform: rotate(-15deg) translateY(-2rem);
	color: var(--vw-pink);
	text-shadow: 2px 2px var(--vw-blue),
							 0px 0px 10px var(--vw-pink);
}

.icon--hero {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.icon--hero .bird-path {
	fill: rgba(0,0,0,0);
	stroke: var(--vw-blue);
	stroke-width: 2px;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	animation: draw 3s linear forwards;
	filter: drop-shadow(0px 0px 4px var(--vw-blue));
}

@keyframes draw {
	80% {
		stroke-dashoffset: 0;
		fill: rgba(0,0,0,0);
	}
	100% {
		stroke-dashoffset: 0;
		stroke-width: 0px;
		fill: var(--vw-blue);
	}
}

/*============Landing SVG Background============*/

.svg-grid line {
	stroke-width: 5px;
}

.v-1 {animation: v1 3s linear infinite;}
@keyframes v1 {to {transform: translateY(4%);}}
.v-2 {animation: v2 3s linear infinite;}
@keyframes v2 {to {transform: translateY(5%);}}
.v-3 {animation: v3 3s linear infinite;}
@keyframes v3 {to {transform: translateY(6%);}}
.v-4 {animation: v4 3s linear infinite;}
@keyframes v4 {to {transform: translateY(7%);}}
.v-5 {animation: v5 3s linear infinite;}
@keyframes v5 {to {transform: translateY(8%);}}
.v-6 {animation: v6 3s linear infinite;}
@keyframes v6 {to {transform: translateY(9%);}}
.v-7 {animation: v7 3s linear infinite;}
@keyframes v7 {to {transform: translateY(10%);}}


/*===================Authform===================*/

form h2 {
	font-size: 3rem;
	background: linear-gradient(90deg, var(--vw-yellow) 25%, var(--vw-pink) 75%);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,0);
}

.form-control {
	background-color: transparent;
	color: var(--white);
}

.form-control:invalid {
	background-color: var(--danger);
	color: var(--white);
}

/*====================Loader====================*/

.loader {
	position: absolute;
	border: 2px solid var(--white);
	transform: scale(0);
	transform-origin: center;
	animation: loader-appear 290ms ease-in-out;
}

@keyframes loader-appear {
	to {transform: scale(1);}
}

.loader__dot {animation: loader-dot 1.5s linear infinite}
.loader__dot {animation: loader-dot 1.5s 0.5s linear infinite}
.loader__dot {animation: loader-dot 1.5s 1s linear infinite}

@keyframes loader-dot {
	0% {opacity: 0;}
	69% {opacity: 0};
	70% {opacity: 1;}
	100% {opacity: 1;}
}

/*=================MessageItem=================*/

.message-item {
	display: grid;
	grid-template-columns: 100px auto;
	border: 2px solid var(--white);
	background-color: rgba(255,255,255,0.1);
	min-height: 120px;
}

.message-item:nth-of-type(even){
	background-color: rgba(255,255,255,0.2);
}

.message-item__image {
	height: auto;
	width: 100px;
}

.message-item__content {
	background-color: rgba(0,0,0,0.1);
}

.btn-container {
	opacity: 0;
	transition: opacity 120ms ease-in;
	right: 0;
	position: absolute;
	top: 0;
}

.message-item:hover .btn-container,
 .message-item:focus-within .btn-container {
	opacity: 1;
}

/*==================User Card==================*/

.user-card {
	background-color: rgba(255,255,255,0.1);
	border: 2px solid var(--white);
}

.user-card .card-body {
	background-color: rgba(0,0,0,0.1);
}

/*===================AdSpace===================*/

.adspace {
	border-radius: 0.25rem;
	border: 2px solid var(--white);
	background: linear-gradient(
		45deg,
		var(--vw-green),
		var(--vw-blue),
		var(--vw-purple),
		var(--vw-pink),
		var(--vw-yellow)
	);
	min-height: 80px;
	height: 100%;
}

/*================MessagFormModal================*/

.message-form-modal__container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.message-form-modal__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}

.message-form-modal {
	border: 2px solid var(--white);
}

/*==========Responsive - Breakpoint MD==========*/

@media(max-width: 768px){
	.navbar .btn {
		display: block;
		width: 100%;
	}
	.hero-title h1 {
		font-size: 7rem;
	}
	.icon--hero {
		top: 5%;
	}
}
