/*=================Root/Globals=================*/

:root {
	--vw-pink: rgb(255,113,206);
	--vw-blue: rgb(1,205,254);
	--vw-green: rgb(5,255,161);
	--vw-purple: rgb(185,103,255);
	--vw-yellow: rgb(255,251,150);
}

body {
	font-family: 'Fira Mono', monospace;
	color: var(--white);
	background-color: var(--vw-purple);
	background-image: linear-gradient(15deg, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.7) 100%);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

h1 {
	font-family: 'Great Vibes', cursive;
}

a:not(.btn) {
	color: var(--vw-purple);
}

a:not(.btn):hover {
	color: var(--vw-pink);
}

/*================Navbar Styling================*/

.navbar-brand {
	position: relative;
	z-index: 1;
}

.navbar-brand__header {
	font-size: 4rem;
	color: var(--vw-pink);
	text-shadow: 1px 1px 0px var(--vw-blue);
}

.icon--navbar {
	fill: var(--vw-blue);
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.navbar-brand:hover .navbar-brand__header {
	color: var(--vw-purple);
}

.navbar-brand:hover .icon--navbar {
	fill: var(--vw-purple);
}

/*=====================Hero=====================*/

.home-hero {
	height: 80vh;
	margin-top: -1rem;
	margin-bottom: -1rem;
	position: relative;
}

.hero-title h1 {
	font-size: 10rem;
	transform: rotate(-15deg) translateY(-2rem);
	color: var(--vw-pink);
	text-shadow: 2px 2px var(--vw-blue),
							 0px 0px 10px var(--vw-pink);
}

.icon--hero {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.icon--hero .bird-path {
	fill: rgba(0,0,0,0);
	stroke: var(--vw-blue);
	stroke-width: 2px;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	animation: draw 3s linear forwards;
	filter: drop-shadow(0px 0px 4px var(--vw-blue));
}

@keyframes draw {
	80% {
		stroke-dashoffset: 0;
		fill: rgba(0,0,0,0);
	}
	100% {
		stroke-dashoffset: 0;
		stroke-width: 0px;
		fill: var(--vw-blue);
	}
}

/*===================Authform===================*/

form h2 {
	font-size: 3rem;
	background: linear-gradient(90deg, var(--vw-yellow) 25%, var(--vw-pink) 75%);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,0);
}

.form-control {
	background-color: transparent;
	color: var(--white);
}

.form-control:invalid {
	background-color: var(--danger);
	color: var(--white);
}

/*Messages*/

#messages {
	padding-left: 15px;
}

/*=================MessageItem=================*/

.message-item {
	display: grid;
	grid-template-columns: 100px auto;
}

.message-item:nth-of-type(odd) {
	background-color: var(--color3);
}

.message-item:nth-of-type(even) {
	background-color: var(--color3t);
}

.message-item__image {
	max-height: 100px;
	width: 100px;
	background-color: var(--color2);
}

.btn-container {
	opacity: 0;
	transition: opacity 120ms ease-in;
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	top: 0;
}

.message-item__btn {
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.message-item:hover .btn-container {
	opacity: 1;
}

/*===================Profile===================*/

.user-card {
	background-color: rgba(255,255,255,0.1);
	border: 2px solid var(--white);
}

.user-card .card-body {
	background-color: rgba(0,0,0,0.1)
}

/*==========Responsive - Breakpoint MD==========*/

@media(max-width: 768px){
	.navbar .btn {
		display: block;
		width: 100%;
	}
	.hero-title h1 {
		font-size: 7rem;
	}
	.icon--hero {
		top: 5%;
	}
}
